# NLP Assigment

In [1]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

In [2]:
import nltk
nltk.download("punkt")
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('maxent_ne_chunker')
nltk.download('words')
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Alp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Alp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Alp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\Alp\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Alp\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Alp\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
df = pd.read_csv('train.tsv', sep = '\t')

In [4]:
df.head(3)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2

In [5]:
df.shape

(156060, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [7]:
df.rename(columns={'Phrase':'sentences', 'Sentiment': 'Label'}, inplace=True)

In [8]:
df.head(3)

,PhraseId,SentenceId,sentences,Label
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2

In [9]:
df.Label.value_counts()

2    79582
3    32927
1    27273
4     9206
0     7072
Name: Label, dtype: int64

In [10]:
df.drop(df[df['Label'] == 2].index, inplace = True)

In [11]:
#df.drop('SentenceId', axis =1, inplace = True)

In [12]:
df.head(3)

,PhraseId,SentenceId,sentences,Label
0,1,1,A series of escapades demonstrating the adage ...,1
21,22,1,good for the goose,3
22,23,1,good,3

In [13]:
df.shape

(76478, 4)

In [14]:
stop_words = stopwords.words('english')
lem = WordNetLemmatizer()

In [15]:
def cleaning(data):
    
    # 1. Tokenize
    text_tokens = word_tokenize(data.lower())
    
    # 2. Remove Punctuations
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    # 3. Remove Stopwords
    tokens_without_sw = {t for t in tokens_without_punc if t not in stop_words}
    
    # 4. Lemmatization
    text_cleaned = [lem.lemmatize(t) for t in tokens_without_sw]
    
    # 5. Joining
    return " ".join(text_cleaned)  # join() kullanmadan yapilan sonuc sekilde - list kullanmak gerekirse

In [16]:
df['sentences_2'] = df['sentences'].apply(cleaning)

In [17]:
df.sample(8)

,PhraseId,SentenceId,sentences,Label,sentences_2
93053,93054,4848,"'ve reeked of a been-there , done-that sameness",1,sameness reeked
108624,108625,5749,highly polished,3,highly polished
50400,50401,2478,John Waters-like humor,4,humor john
25072,25073,1146,"of the most plain , unimaginative romantic com...",0,plain romantic unimaginative comedy
148823,148824,8096,were an obligation,1,obligation
126839,126840,6820,"rent `` Shakes The Clown '' , a much funnier f...",1,rent much performance similar williams clown f...
5305,5306,210,pained,1,pained
111693,111694,5928,cutting Hollywood satire,3,cutting satire hollywood

In [18]:
df.loc[df.Label == 0, 'Label'] = 'Negative'

In [19]:
df.loc[df.Label == 1, 'Label'] = 'Negative'

In [20]:
df.loc[df.Label == 3, 'Label'] = 'Positive'

In [21]:
df.loc[df.Label == 4, 'Label'] = 'Positive'

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76478 entries, 0 to 156057
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PhraseId     76478 non-null  int64
 1   SentenceId   76478 non-null  int64
 2   sentences    76478 non-null  object
 3   Label        76478 non-null  object
 4   sentences_2  76478 non-null  object
dtypes: int64(2), object(3)
memory usage: 3.5+ MB

**Count Vectorization**

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [24]:
X_train = df['sentences_2']

In [25]:
vectorizer = CountVectorizer()

In [26]:
vectorizer.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [27]:
vectorizer.get_feature_names()[:5]

['aaa', 'aaliyah', 'aan', 'abagnale', 'abandon']

In [28]:
len(vectorizer.get_feature_names())

12981

In [29]:
X_train_count = vectorizer.transform(X_train)

In [30]:
a = pd.DataFrame(X_train_count.toarray(), columns = vectorizer.get_feature_names())

In [31]:
a.head()

,aaa,aaliyah,aan,abagnale,abandon,abandoned,abbass,abbott,abbreviated,abc,...,ziyi,zoe,zombie,zone,zoning,zoolander,zoom,zucker,zwick,zzzzzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
a.shape

(76478, 12981)

**TF/IDF**

In [33]:
tf_idf_vectorizer = TfidfVectorizer()

In [34]:
tf_idf_vectorizer.fit(X_train)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [35]:
X_train_tf_idf = tf_idf_vectorizer.transform(X_train)

In [36]:
b = pd.DataFrame(X_train_tf_idf.toarray(), columns = tf_idf_vectorizer.get_feature_names())

In [37]:
b.sample(8)

,aaa,aaliyah,aan,abagnale,abandon,abandoned,abbass,abbott,abbreviated,abc,...,ziyi,zoe,zombie,zone,zoning,zoolander,zoom,zucker,zwick,zzzzzzzzz
39052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51097,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38316,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67731,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
a.sum().sort_values(ascending = False)

film         5067
movie        4703
one          2348
like         1922
character    1833
             ...
shapely         1
honk            1
shave           1
hobby           1
co              1
Length: 12981, dtype: int64

In [39]:
b.sum().sort_values(ascending = False)

movie        1176.318713
film         1173.243881
one           621.666592
good          571.393952
character     512.282915
                ...
berg            0.294446
cineasts        0.293012
consumer        0.292736
bod             0.290580
hovering        0.265782
Length: 12981, dtype: float64

In [40]:
df.shape

(76478, 5)

In [41]:
a.shape

(76478, 12981)

In [42]:
b.shape

(76478, 12981)

In [ ]:
final = pd.concat([df, a], axis=1)

In [ ]:
final.shape

In [ ]:
final.sample(15)